*.swp

*~
*.o
*.lo
*.a
*.la
/build*/

# autotools stuff
/m4/lt*.m4
/m4/libtool.m4
/aclocal.m4
/ltmain.sh
/install-sh
/config.guess
/config.h.in
/config.sub
/autom4te.cache/
/compile
/configure
/depcomp
/missing
/test-driver

# automake
/ar-lib
Makefile.in

# cscope and other tags
/cscope.*
/GPATH
/GRTAGS
/GSYMS
/GTAGS

/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
