# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# From git://git.code.sf.net/p/meanwhile/git
aclocal.m4
autom4te.cache
compile
config.*
configure
configwrap
depcomp
install-sh
libtool
Makefile
Makefile.in
missing
mkinstalldirs
*.pc
*.rpm
*.spec
*.swp
*.tar.gz
test*
tmp
ltmain.sh

# Avoid committing built elements to git for docs
doc/Doxyfile
doc/html/
doc/latex/
doc/man/

# Avoi committing autotool artifacts
m4/

# Avoid committing samples artifacts
samples/build

# Avoid commiting src build artifacts:
src/.deps/
src/.libs/
src/mpi/.deps/
